
body {
  background-color: #1a1a1a;
  color: antiquewhite;
}

button {
  cursor: pointer;
}

.game-stats p {
  user-select: none;
  cursor: pointer;
  height: 30%;
}

.game-stats {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-inline: auto;
  height: fit-content;
}

.game-stats div {
  width: 30%;
}

.game-stats img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

.inventory {
  width: 300px;
  height: fit-content;
}

.modal {
  background-color: #1a1a1a99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.modal-content {
  padding: 15px;
  border-radius: 15px;
  background-color: #111111;
  width: 100%;
  max-width: 300px;
  height: fit-content;
}

.modal-content p {
  text-align: center;
}

.modal-content .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-content .buttons button {
  outline: none;
  border-radius: 5px;
  padding: 5px;
  width: 47%;
  font-weight: bold;
  color: #fff;
}

.modal-content .yesButton {
  background-color: #00aa00;
  border: 1px solid #00ff00;  
}
.modal-content .noButton {
  background-color: #aa0000;
  border: 1px solid #FF0000;
}

